@import url(./fonts.scss);
@import url(./mixins.scss);

*{
    list-style-type: none;
    margin:0;
    padding:0;
    box-sizing:border-box;

}

body{
    min-height:100vh;
    width:100vw;
    font-family:Roboto;
    background: rgb(0,0,0);
                background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(17,24,39,1) 40%);

}


// NAV
nav{
    color: #e4e7eb;
    font-family: Roboto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 1px solid #e4e7eb;
    height: 8vh; 
    font-weight: bold;
    // background-color: orangered;
    .shop__nav{
        // background-color: yellow;
        display: flex;
        a{
            margin-right: 1.5vw;
            font-size: 0.8rem;
        }
    }
    .shop__login{
        background: none;
        border: none;
        // background-color: blue;
        display: flex;
        align-items: center;
        p{
            color: #e4e7eb;
            margin-left: 5%;
        }
        img{
            height: 4vh;
            width: 4vw;
        }
    }
}


// HERO SECTION




// ARTICLES



// TEMOIGNAGES



// FOOTER


// FORM


