@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@font-face {
  font-family: Roboto;
  src: url("../font/Roboto-Black.ttf");
}
@font-face {
  font-family: "Roboto Medium";
  src: url("../font/Roboto-Light.ttf");
}
* {
  list-style-type: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --whites: $white;
  --blueFont: #2463eb;
  --blueButton: $blueButton;
  --blueCardBackground: $blueCardBackground;
}

body {
  min-height: 100vh;
  max-width: 100vw;
  font-family: "Roboto Medium";
  background: rgb(0, 0, 0);
  background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgb(17, 24, 39) 40%);
  color: #949494;
  color: #e4e7eb;
}
body nav {
  color: #e4e7eb;
  font-family: Roboto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 1px solid #e4e7eb;
  height: 8vh;
  font-weight: bold;
}
body nav .shop__nav {
  display: flex;
}
body nav .shop__nav a {
  margin-right: 1.5vw;
  font-size: 0.8rem;
}
body nav .shop__login {
  background: none;
  border: none;
  display: flex;
  align-items: center;
}
body nav .shop__login p {
  color: #e4e7eb;
  margin-left: 5%;
}
body nav .shop__login img {
  height: 4vh;
  width: 4vw;
}
body header {
  display: flex;
  overflow: hidden;
}
body header .shop__HeroSection {
  height: 150vw;
}
body header .shop__HeroSection .heroSection1 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 85vw;
}
body header .shop__HeroSection .heroSection1 .nike {
  color: rgb(17, 24, 39);
  font-size: 43vw;
  opacity: 0.5;
  text-transform: uppercase;
  font-weight: bolder;
  -webkit-text-stroke-width: 0.1vw;
  -webkit-text-stroke-color: #e4e7eb;
}
body header .shop__HeroSection .heroSection1 img {
  width: 75vw;
  position: absolute;
  z-index: 1;
  left: 12.5vw;
}
body header .shop__HeroSection .heroSection2 {
  width: 95vw;
  margin: 10vw 0 0 5vw;
}
body header .shop__HeroSection .heroSection2 h1 {
  text-transform: uppercase;
  font-size: 15vw;
  margin-bottom: 7.5vw;
}
body header .shop__HeroSection .heroSection2 span {
  color: #2463eb;
}
body header .shop__HeroSection .heroSection2 a {
  background: rgb(58, 125, 241);
  background: linear-gradient(90deg, rgb(58, 125, 241) 0%, rgb(31, 61, 142) 100%);
  border: none;
  padding: 3vw;
  font-size: 3.5vw;
  border-radius: 1vw;
  color: #e4e7eb;
  text-decoration: none;
  margin-top: 10vw;
}

main h3 {
  font-family: "roboto";
  color: #2463eb;
  margin: 5vw 0vw 5vw 7vw;
}
main h3 .shop__h3__span {
  color: #e4e7eb;
}
main .shop__article {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
main .shop__article .shop__article__card .shop__article__img {
  width: 10vw;
  height: 10vw;
}
main .shop__article .shop__article__card .shop__article__name {
  font-family: "roboto";
  font-size: 3.5vw;
}
main .shop__article .shop__article__card .shop__article__price {
  font-size: 3.5vw;
}
main .shop__article .shop__article__card input {
  width: 15vw;
  border-radius: 0.5vw;
  padding: 1vw 0 1vw 0;
  font-size: 2.5vw;
  background-color: #3b81f6;
  color: #e4e7eb;
}

.shop__testimonials {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.shop__testimonials .testimonials__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 90vw;
}
.shop__testimonials .testimonials__header img {
  width: 50vw;
}
.shop__testimonials .testimonials__header h2 {
  font-size: 2rem;
  padding: 1rem;
  color: #e4e7eb;
  font-family: "Roboto";
  text-transform: uppercase;
  width: 90vw;
  text-align: center;
}
.shop__testimonials .testimonials__header h2 span {
  color: var(--blueFont);
}
.shop__testimonials .testimonials__people {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.shop__testimonials .testimonials__people div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}
.shop__testimonials .testimonials__people div b {
  color: var(--whites);
  font-weight: bold;
}
.shop__testimonials .testimonials__people div img {
  width: 4rem;
  border-radius: 3rem;
  aspect-ratio: 1/1;
  margin-bottom: 1rem;
}
.shop__testimonials .testimonials__people div p {
  text-align: center;
  padding: 1rem;
}

footer {
  color: #e4e7eb;
  font-family: Roboto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #e4e7eb;
  height: 15vh;
  font-weight: bold;
}
footer a {
  margin-right: 1.5vw;
  font-size: 0.8rem;
}

@media screen and (min-width: 500px) {
  body header .shop__HeroSection {
    display: flex;
    margin: 0 5vw;
    flex-direction: row-reverse;
    height: auto;
  }
  body header .shop__HeroSection .heroSection1 {
    height: auto;
    width: 40vw;
    height: 50vw;
    max-width: 1440px;
  }
  body header .shop__HeroSection .heroSection1 img {
    position: absolute;
    width: 40vw;
    left: 50vw;
  }
  body header .shop__HeroSection .heroSection1 .nike {
    font-size: 20vw;
  }
  body header .shop__HeroSection .heroSection2 {
    margin-top: 17vw;
    width: 30vw;
    margin-right: 10vw;
    max-width: 1440px;
  }
  body header .shop__HeroSection .heroSection2 h1 {
    font-size: 5vw;
    margin-bottom: 1vw;
  }
  body header .shop__HeroSection .heroSection2 a {
    font-size: 1vw;
    padding: 1vw;
    border-radius: 0.5vw;
  }
  main h3 {
    font-size: 2vw;
    margin: 0 0 2vw 6vw;
  }
  main .shop__article .shop__article__card .shop__article__name {
    font-size: 1vw;
  }
  main .shop__article .shop__article__card .shop__article__price {
    font-size: 1vw;
  }
  main .shop__article .shop__article__card input {
    margin: 0 0 0 8vw;
    max-width: 6vw;
    border-radius: 0.5vw;
    font-size: 0.8vw;
  }
  .shop__testimonials .testimonials__header img {
    width: 25vw;
  }
  .shop__testimonials .testimonials__header h2 {
    font-size: 3rem;
    max-width: 50vw;
  }
  .shop__testimonials .testimonials__header p {
    max-width: 40vw;
  }
  .shop__testimonials .testimonials__people {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
  }
  .shop__testimonials .testimonials__people div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
  }
  .shop__testimonials .testimonials__people div b {
    color: var(--whites);
    font-weight: bold;
  }
  .shop__testimonials .testimonials__people div img {
    width: 4rem;
    border-radius: 3rem;
    aspect-ratio: 1/1;
    margin-bottom: 1rem;
  }
  .shop__testimonials .testimonials__people div p {
    text-align: center;
    padding: 1rem;
    font-size: 0.9rem;
  }
}/*# sourceMappingURL=style.css.map */